{{#if model}}
  {{#md-card-collapsible}}
    {{#each model as |pipeline|}}
      {{#md-collapsible icon=pipeline title=pipeline.title}}
        <div class="row">
          This pipeline is currently {{pipeline.status.title}}.
          {{#if pipeline.requestedStatus}}
            {{#if (not-eq pipeline.status.title pipeline.requestedStatus.title)}}
              The requested status is {{pipeline.requestedStatus.title}}.
            {{/if}}
          {{/if}}
        </div>
        <div class="row">
          {{link-to 'Manage' 'pipelines.show' pipeline classNames="btn"}}
        </div>
      {{/md-collapsible}}

    {{/each}}
  {{/md-card-collapsible}}
{{else}}
  {{#md-card-panel}}
    There are no pipelines yet. Launch one in the
    {{#link-to 'repositories'}}repositories {{/link-to}}
    section!
  {{/md-card-panel}}
{{/if}}
