{{#if editing}}
  <div class="icon-editor">
    {{md-input label="MD icon name or web URL for a picture" value=model.icon}}
  </div>
{{/if}}
{{#if model.icon}}
  {{#if isHttpIcon}}
    <img class="icon" src= {{model.icon}} />
  {{else}}
    <i class="material-icons">{{model.icon}}</i>
  {{/if}}
{{/if}}
