// import basic things
// Fix for Roboto font path
$roboto-font-path: '../assets/';
@import 'components/color'; // Custom color settings go here
$primary-color: color("blue-grey", "lighten-1");
$secondary-color: color("pink", "accent-4");
@import 'components/variables'; // Materialize styles
@import "materialize"; // ember-cli-materialize styles
@import 'ember-cli-materialize';
// import default style and styles for pages
@import 'app/styles/default.scss';
@import 'app/styles/dashboard.scss';
