.dashboard {
  .container {
    h1 {
      text-align: center;
    }
    .text {
      span {
        font-weight: 600;

        &.clickable {
          cursor: pointer;
        }
      }
    }
  }
}
