.repositories {
  .container {
    h1 {
      text-align: center;
    }

    .text {
      span {
        font-weight: 600;

        &.clickable {
          cursor: pointer;
        }
      }
    }

    .repository--list {
      .create {
        .input-field {
          width: 90%;
        }

        .icon-editor {
          display: inline-block;
          width: 90%;

          .input-field {
            width: 100%;
            margin-right: 1%;
          }
        }
      }
    }

    .repositories--show {
      h3 {
        text-align: center;
      }

      .container {
        .row {
          padding-left: 2%;
        }

        .input-field {
          width: 90%;
        }

        .icon-editor {
          display: inline-block;
          width: 90%;

          .input-field {
            width: 100%;
            margin-right: 1%;
          }
        }
      }
    }
  }
}
