{{#md-modal close='closeDialog' modalClassNames=modalClassNames}}
  <div class="modal-content">
    {{{text}}}
  </div>
  <div class="modal-footer">
    <a class="btn secondary" {{action 'closeDialog'}}> Cancel</a>
    <a class="btn delete" {{action 'agree'}}>{{buttonText}}</a>
  </div>
{{/md-modal}}
