<div class="container">
  <h1>Dashboard</h1>
</div>

<div class="container">
  {{repository-list repositories=model.repositories launchPipeline=(action 'launchPipeline')}}

  {{pipeline-list pipelines=model.pipelines}}
</div>

{{outlet}}
