<div class="index">
  <div class="container">
    <h1>Welcome to the SwarmUI</h1>
  </div>
  <div class="container">
    {{#md-card-panel}}
      <div class="text">
        Create and manage a repository in the
        {{#link-to 'list'}}repositories and stacks {{/link-to}}
        section.
      </div>
      <div class="text">
        Create and manage a pipeline in the
        {{#link-to 'pipelines'}} pipelines {{/link-to}}
        section.
      </div>

      <div class="text">
        More info todo
      </div>
    {{/md-card-panel}}
  </div>
</div>
